# ---> Laravel
/bootstrap/compiled.php
/public/uploads/
.env.*.php
.env.*
.env.php
.env
*/.svn/
.svn
*.DS_Store
*.log
*.zip
.idea
.sass-cache/
/nbproject/
/nbproject/private/
ad.js
TODO
test.html
/public/storage
/public/hot
Homestead.json
Homestead.yaml
/tests
/hooks
/locks
dump.rdb
.env